* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10 pixels

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-color: $color-black;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline-offset: -0.1rem;

  &:focus {
    &:-moz-focusring {
      outline: 1px solid $color-white;
      outline: 5px auto -webkit-focus-ring-color;
    }
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.header {
  display: block;

  &__title {
    text-align: center;
  }
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}
