// create a scripted output for this file
/* prettier-ignore */
$updated-tech:
  'angular',
  'apache',
  'aws',
  'azure',
  'bootstrap',
  'cc',
  'clojure',
  'csharp',
  'css',
  'dapper',
  'devops',
  'django',
  'dotnet',
  'electron',
  'elm',
  'express',
  'firebase',
  'flask',
  'fsharp',
  'github',
  'git',
  'graphQL',
  'gunicorn2',
  'gunicorn',
  'haskell',
  'heroku',
  'html',
  'javascript',
  'jquery',
  'linux',
  'lisp',
  'mongodb',
  'mongoose',
  'mssql',
  'mysql',
  'nextjs',
  'nginx',
  'nodejs',
  'oauth',
  'php',
  'pm2',
  'postman',
  'python',
  'react',
  'redis',
  'redux',
  'r',
  'sass',
  'scala',
  'socketio',
  'sqlalchemy',
  'sqlite',
  'supervisor',
  'teams',
  'testinglibrary',
  'typescript',
  'ubuntu',
  'victoryjs',
  'vim',
  'vscode',
  'yarn',
;

$total: length($updated-tech);

@mixin beehive-appear($wait) {
  animation: appear 0.25s #{$wait * 0.05}s 1 ease-out forwards;
}

@for $i from 0 through $total {
  .tech__animate-#{$i} {
    @include beehive-appear($i);
  }
}

@for $i from 1 through $total {
  .tool-img-#{nth($updated-tech, $i)} {
    background-image: url('assets/img/tlogos/#{nth($updated-tech, $i)}.png');
    background-size: cover;
    background-position: center;
    position: relative;
    backface-visibility: hidden;
  }
}

@for $i from 1 through $total {
  .img-#{nth($updated-tech, $i)} {
    background-image: url('assets/img/tlogos/#{nth($updated-tech, $i)}.png');
    background-size: cover;
    background-position: center;
    position: relative;
    backface-visibility: hidden;

    &:after {
      content: '#{nth($updated-tech, $i)}';
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      text-align: center;
      padding: 0.25rem 1rem;
      width: 90%;
      border-radius: 200px;
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
      background-color: rgba($color-black, 0.8);
    }
  }
  .img-#{nth($updated-tech, $i)}:focus {
    background-color: $color-red-light;
    z-index: 1;
  }
}
