/* prettier-ignore */
$updated-tech:
  'angular',    // tool-img-1
  'csharp',     // tool-img-2
  'css',        // tool-img-3
  'dapper',     // tool-img-4
  'dotnet',     // tool-img-5
  'electron',   // tool-img-6
  'elm',        // tool-img-7
  'express',    // tool-img-8
  'flask',      // tool-img-9
  'fsharp',     // tool-img-10
  'git',        // tool-img-11
  'graphQL',    // tool-img-12
  'haskell',    // tool-img-13
  'html',       // tool-img-14
  'javascript', // tool-img-15
  'linux',      // tool-img-16
  'mongodb',    // tool-img-17
  'mongoose',   // tool-img-18
  'mssql',      // tool-img-19
  'mysql',      // tool-img-20
  'nodejs',     // tool-img-21
  'python',     // tool-img-22
  'react',      // tool-img-23
  'redux',      // tool-img-24
  'sass',       // tool-img-25
  'typescript', // tool-img-26
  'vim',        // tool-img-27
  'yarn',       // tool-img-28
  // -- not in favorite
  'apache',     // tool-img-29
  'aws',        // tool-img-30
  'bootstrap',  // tool-img-31
  'django',     // tool-img-32
  'github',     // tool-img-33
  'gunicorn',   // tool-img-34
  'jquery',     // tool-img-35
  'nginx',      // tool-img-36
  'php',        // tool-img-37
  'supervisor', // tool-img-38
  'vscode',     // tool-img-39
  'sqlite',     // tool-img-40
  'ubuntu',     // tool-img-41
;

$total: length($updated-tech);

@mixin beehive-appear($wait) {
  animation: appear 0.25s #{$wait * 0.05}s 1 ease-out forwards;
}

@for $i from 1 through $total {
  .tech__animate-#{$i} {
    @include beehive-appear($i);
  }
}

@for $i from 1 through $total {
  .tool-img-#{$i} {
    background-image: url('assets/img/tlogos/#{nth($updated-tech, $i)}.png');
    background-size: cover;
    background-position: center;
    position: relative;
    backface-visibility: hidden;
  }
}

@for $i from 1 through $total {
  .img-#{$i} {
    background-image: url('assets/img/tlogos/#{nth($updated-tech, $i)}.png');
    background-size: cover;
    background-position: center;
    position: relative;
    backface-visibility: hidden;

    &:after {
      content: '#{nth($updated-tech, $i)}';
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      text-align: center;
      padding: 0.25rem 1rem;
      width: 90%;
      border-radius: 200px;
      opacity: 0;
    }

    &:hover:after {
      opacity: 1;
      background-color: rgba($color-black, 0.8);
    }
  }
}
