.u-color-primary { 
	color: $color-primary; 
	cursor: pointer;
}
.u-color-red { 
	color: $color-red-light; 
	font-weight: 700;
}
.u-center { text-align: center !important; }

.u-indent {
	margin-left: 2rem;
}

.u-no-animate {
}
