.u-color-primary {
  color: $color-primary;
  cursor: pointer;
}
.u-color-red {
  color: $color-red;
  font-weight: 700;
}
.u-center {
  text-align: center !important;
}

.u-indent {
  margin-left: 2rem;
}
