$color-primary: #4a849f;
$color-primary-light: #6791b2;
$color-primary-dark: #3f7188;

$color-secondary: #b4d6c6;

$color-foam: #cae2d6;
$color-foam-dark: #9dc9b4;

$color-red: #f2845c;
$color-red-light: #ff9c67;
$color-red-dark: #ee6d3d;
$color-deep-red: #d50000;

$color-green-neon: #47fe47;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-grey-dark: #555;
$color-grey-light: #ddd;
$color-white: #f7f7f7;

$color-black: #222;
$color-black-light: #333;

$R-gradient-1: radial-gradient(#1b3440, #4a849f);

$facial-1: #f03076;
$facial-2: #c8326f;
$facial-3: #34b5e0;
$facial-4: #55cef2;
$facial-5: #b62e65;
$facial-6: #2ea1c7;

$default-box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
$default-border-radius: 4px;
