.contact {
  padding-top: 6rem;
  background-color: $color-black;

  &__header {
    text-align: center;
    color: $color-white;
  }

  &__info {
    padding: 4rem;
    background-color: $color-black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    @include respond(phone){
      height: calc(100vh - 16rem);			
      flex-direction: column;
      justify-content: space-around;
    }

    &--header {
      text-align: center;
      text-transform: uppercase;
      visibility: hidden;
    }

    &--item {
      text-align: center;
      display: inline-block;
      display: flex;
      justify-content: space-around;	
      align-items: center;
      min-width: 50rem;
      margin: 10rem auto;

      @include respond(phone)	{
        min-width: auto; 
        margin: 0 auto;
      }
    }

    &--link:link,
    &--link:visited {
      display: flex;
      flex-direction: column;	
      text-decoration: none;
      color: $color-white;
      letter-spacing: 1px;
    }

  }

  &__icon {
    height: 7rem;
    width: 7rem;
    margin: 0 2rem;
    display: flex;
    fill: $color-white;

    @include respond(phone) {
      height: 5rem;
      width: 5rem;
    }

    &:hover {
      fill: $color-red-light;
      cursor: pointer;
    }
  }
}

