.portfolio {
  padding: 3rem;
  padding-top: 6rem;
  background-color: $color-grey-light;

  @include respond(phone) {
    padding: 3rem 0rem;
    padding-top: 6rem;
  }

  &__header {
    text-align: center;
  }
}

.contrib-link:link,
.contrib-link:visited {
  margin-left: 1rem;
  color: $color-primary-dark;

  &:hover {
    color: $color-green-dark;
  }
}
