.success {

  &__shadowbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color-black-light, .5);
    z-index: 9000;
  }

  &__info {
    background-color: $color-white;
    z-index: 9999;
    position: fixed;
    @include center-element;
    width: 80%;
    padding: 3rem 8rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 1rem 2.5rem $color-black;

    @include respond(phone)	{
      width: 95%;
      padding: 2rem;	
    }

    p {
      margin: .2rem;
      // border: 1px dashed green;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: inline-block;
    color: $color-green-dark;
    margin-bottom: 2rem;
    border-bottom: 4px dashed $color-green-dark;
    letter-spacing: 1px;
  }

  &__field-name {
    color: $color-red-light;
    width: 15%;
    font-size: 2.2rem;
    text-align: right;

    @include respond(phone) {
      width: 25%;
    }

  }

  &__name {
    width: 80%;
    text-align: left;
    font-size: 2rem;

    @include respond(phone) {
      width: 70%;	
    }
  }

  &__email {
    width: 80%;
    text-align: left;
    font-size: 2rem;

    @include respond(phone) {
      width: 70%;	
    }
  }

  &__message {
    width: 80%;
    text-align: left;

    @include respond(phone) {
      width: 70%;	
    }
  }

  &__btn {
    margin: 2rem auto;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem;
    outline: none;
    border: none;
    box-shadow: 0 1rem 1.5rem $color-black;
    border-radius: 4px;
    background-color: $color-primary;
    color: $color-white;
    width: 40%;
    transition: all .2s;

    @include respond(phone){
      width: 60%;	
    }

    &:hover {
      background-color: $color-green-dark;
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }

  &__warning {
    font-style: italic;
  }
}
