.tools {
  padding: 6rem 5rem;
  background-color: $color-grey-light;
  @include respond(phone) {
    padding: 3rem 2rem;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__list {
    width: 30rem;
    text-align: center;
    margin-bottom: 3rem;
    background-color: $color-black-light;
    color: $color-white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;

    @include respond(phone) {
      width: 100%;
    }

    &__title {
      color: $color-primary;
    }

    p {
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  &__knowledge-portfolio {
    padding-top: 2rem;
    background-color: $color-grey-light;
    text-align: center;

    &--rule {
      font-size: 2rem;
      font-weight: bold;
      color: $color-primary;
    }
  }
}
